hr { 
	width: 150px; 
	margin: 20px auto;
	height:2px; 
	background: black; 
}

body {
	text-align: center; 
	font-size:18px; 
	font-family: Tahoma, Geneva, Verdana, sans-serif
}

#wraper {
	max-width: 900px; 
	margin: 0 auto;
	width: 900px;
}

header {
	margin: 25px 0px;
}

header .title img{
	height: 30px;
}

header span {
	font-size: 40px; 
	text-transform: uppercase;
}

header p {
	margin-top: 30px;
}

.people div {
	margin-bottom: 10px;
	width: 30%; 
	display:inline-block;
}

.people img {
	width:200px;
	height: 200px; 
	object-fit: cover; 
	border-radius: 50%;
}

.people span {
	font-size: 0.8em;
	display: block;
	margin: 10px 0px 15px;
	opacity: 0.5;
}

.people p {
	margin: 5px 50px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.people div:hover {	
	-webkit-box-shadow: 5px 5px 3px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    5px 5px 3px 1px rgba(50, 50, 50, 0.75);
	box-shadow: 5px 5px 3px 1px rgba(50, 50, 50, 0.75);
}